body {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  color: #4d5053;
  font-size: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
}

.hero-button {
  max-width: 207px;
  height: 71px;
  background-image: url("../images/button.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

/* Features */

.features-section {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 75px 42px;
}

.features-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 25px;
  line-height: 39px;
  letter-spacing: 0.22px;
  color: #292f36;
  margin-bottom: 17px;
}

.features-text {
  width: 317px;
  font-family: "Jost";
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  color: #4d5053;
  margin-bottom: 48px;
  text-align: center;
}

.features-link {
  display: flex;
  align-items: center;
  font-family: "Jost";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.36px;
  color: #4d5053;
}

.features-link::after {
  content: "";
  width: 24px;
  height: 17px;
  background-image: url("../images/arrow.png");
  margin-left: 6px;
}

/* Desings */

.designs-section {
  display: flex;
}

.designs-title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: 0.22px;
  color: #292f36;
}

.designs-text {
  font-family: "Jost";
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  color: #4d5053;
}

.designs-contacts {
}
.designs-button {
}

/* Contact -section  */

.contact-section {
  background: #292f36;
  border-radius: 70px;
  height: 414px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 80px;
}

.contact-subtitle {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 50px;
  line-height: 75px;
  letter-spacing: 0.22px;
  color: #ffffff;
  margin-bottom: 9px;
}

.contact-text {
  font-family: "Jost";
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  color: #ffffff;
  margin-bottom: 31px;
}

.contact-button {
  height: 71px;
  width: 241px;
  background: #cda274;
  border: none;
  box-shadow: 1px 0px 18px rgba(0, 0, 0, 0.2);
  border-radius: 18px;
  font-family: "Jost";
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #ffffff;
}

/* Footer */

.footer-section {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.footer-logo {
  width: 393px;
}

.footer-logo-text {
  width: 326px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  color: #4d5053;
  margin-top: 15px;
  margin-bottom: 30px;
}

.footer-logo-social-list {
  display: flex;
  align-items: center;
}

.footer-logo-social-item:not(:last-child) {
  margin-right: 40px;
}

.footer-pages {
  width: 210px;
}

.footer-subtitle {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  letter-spacing: 0.22px;
  color: #292f36;
  margin-bottom: 21px;
}

.footer-item {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  color: #4d5053;
}

.footer-item:not(:last-child) {
  margin-bottom: 30px;
}

.footer-explore {
  width: 210px;
}

.footer-contact {
  width: 337px;
}

/* Footer copyright */
.footer-copyright {
  border-top: 1px solid #e5e5e5;
}

.footer-copyright-text {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #4d5053;
  padding: 35px 0;
}

.footer-copyright-text-span {
  color: #cda274;
}
